body{
    background-color: rgb(147, 186, 204);
}
.music{
    
    border: 1px solid black;
    background-color: rgb(82, 144, 196);
}
.One{
    padding-left: 250px;
}
.One:hover{
    width: 310px;
    height: 300px;
}
